<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mb-2">Contact Info</h5>
        <address>
          <div class="email--div">
            <fa-icon [icon]="faEnvelope" class=""></fa-icon>
            <a href="mailto:abdalhkim.dev2022&#64;gmail.com" class=""
              >abdalhkim.dev2022&#64;gmail.com</a
            >
          </div>

          <div class="email--div">
            <fa-icon [icon]="faPhone" class=""></fa-icon>
            <a href="tel:+96897427212" class=""> +96897427212</a> |
            <a href="https://wa.me/0096897427212" class="">WhatsApp</a>
          </div>

          <div class="email--div">
            <fa-icon [icon]="faGithub" class=""></fa-icon>
            <a target="_blank" href="https://github.com/Abdalhkim-Albloushi">
              GitHub
            </a>
          </div>
        </address>
      </div>
      <div class="col-md-4">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">Projects</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>About Me</h5>

        <p>
          A dedicated Senior Mobile App Developer with strong experience in
          Flutter, .NET Web API, and Angular. Skilled in building
          high-performance apps and designing intuitive user interfaces using
          Figma. Passionate about clean architecture, scalable systems, and
          delivering seamless cross-platform experiences.
        </p>
      </div>
    </div>
    <div class="text-center mt-3 bg-dark">
      &copy; 2025 Abdalhkim-Albloushi. All Rights Reserved.
    </div>
  </div>
</footer>
