<div class="about">
  <div class="container about--container">
    <div class="section-title col-lg-4">
      <h2>About Me</h2>
    </div>
    <div class="about--content">
      <p>
        Hello! I'm Abdulhakim AlBalushi, a Senior Mobile App Developer with a
        strong background in building scalable, cross-platform applications.
        With expertise in Flutter, .NET Web API, and Angular, I deliver
        high-performance mobile and web solutions tailored to real-world needs.
        My experience also includes designing clean and user-friendly interfaces
        using Figma, ensuring every product is intuitive and engaging.
      </p>
      <p>
        Throughout my career, I've worked on diverse projects including
        healthcare apps for the Ministry of Health, integrated SSO systems, and
        efficient backend services using .NET. I approach each challenge with a
        deep focus on clean architecture, performance optimization, and
        maintainable code.
      </p>
      <p>
        I enjoy taking on complex technical problems—whether it's designing
        state management strategies, building reusable Angular components, or
        optimizing API structures for better scalability and speed. I'm
        passionate about clean code and creating seamless experiences that serve
        both users and businesses.
      </p>
      <p>
        Outside of development, I'm dedicated to continuous learning and keeping
        up with the latest technologies, patterns, and best practices. I
        regularly explore new tools, design patterns, and contribute to projects
        that enhance both my skills and the value I bring to my work.
      </p>
      <a
        class="contact--button"
        href="https://www.linkedin.com/in/abdalhkim-albloushi-a829981b9/"
        target="_blank"
        ><fa-icon [icon]="faLinkedinIn" class="icon-wp"></fa-icon>
        <span> LinkedIn Account </span>
      </a>
    </div>
  </div>
</div>
