<!-- Start Navbar -->
<app-navbar></app-navbar>
<!-- End Navbar -->
<!-- Start Hero Section -->
<section class="hero-section">
  <div
    class="text-white container d-flex align-items-end justify-content-center fs-1 flex-column"
  >
    <div class="content-header">
      <h2 class="autocomplete-text">
        Hey, I'm <span>Abdulhakim AlBalushi</span>
      </h2>
      <h5>Senior Mobile App Developer</h5>
      <p>
        Building powerful mobile and web solutions using Flutter, .NET Web API,
        and Angular — with a passion for clean architecture and intuitive
        design.
      </p>
    </div>
  </div>
</section>

<!-- End HeroSection -->
