<section class="portfolio bg-white py-5" id="portfolio">
  <div class="container protofolio--container py-4">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-title">
          <h2 class="fw-bold mb-5">Protofolios</h2>
        </div>
      </div>
    </div>

    <div class="projects-row row mb-4 py-2">
      <div class="projects-row row mb-4 py-2">
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item">
            <img
              src="../../assets/img/1_JLYlSLSK8-AZo8gt9UdYqA.jpg"
              class="w-100"
              alt="Portfolio Item"
            />
            <div class="content-overlay">
              <h3 class="text-capitalize fs-5 my-3">Template</h3>
              <p class="mb-4">
                <a
                  target="_blank"
                  href="https://github.com/Abdalhkim-Albloushi"
                  class="text-decoration-none"
                  >Live Demo</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item">
            <img
              src="../../assets/img/1_JLYlSLSK8-AZo8gt9UdYqA.jpg"
              class="w-100"
              alt="Portfolio Item"
            />
            <div class="content-overlay">
              <h3 class="text-capitalize fs-5 my-3">Template</h3>
              <p class="mb-4">
                <a
                  target="_blank"
                  href="https://github.com/Abdalhkim-Albloushi"
                  class="text-decoration-none"
                  >Live Demo</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="portfolio-item">
            <img
              src="../../assets/img/1_JLYlSLSK8-AZo8gt9UdYqA.jpg"
              class="w-100"
              alt="Portfolio Item"
            />
            <div class="content-overlay">
              <h3 class="text-capitalize fs-5 my-3">Template</h3>
              <p class="mb-4">
                <a
                  target="_blank"
                  href="https://github.com/Abdalhkim-Albloushi"
                  class="text-decoration-none"
                  >Live Demo</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
